<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hardware Hub</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/products.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <main role="main" class="container">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/products.js" asp-append-version="true" defer></script>
    <script src="~/js/login.js" asp-append-version="true" defer></script>
    <script src="~/js/profile.js" asp-append-version="true" defer></script>
    <script src="~/js/register.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>